#include "Resource.h"

PROGRAM_ICON_ID ICON "icon.ico"

CONTEXT_MENU_ID MENU
BEGIN
    POPUP ""
    BEGIN
    MENUITEM "Disable ShadowplayFixer", TOGGLE_ACTIVE
    MENUITEM "Exit", PROGRAM_EXIT
    END
END
