#include "Resource.h"
#include <windows.h>

PROGRAM_ICON_ID ICON "icon.ico"

ENABLED_CONTEXT_MENU_ID MENU
{
    POPUP ""
    {
        POPUP "Disable AlwaysShadow"
        {
            MENUITEM "For 15 minutes", DISABLE_15MIN
            MENUITEM "For 30 minutes", DISABLE_30MIN
            MENUITEM "For 45 minutes", DISABLE_45MIN
            MENUITEM "For 1 hour", DISABLE_1HR
            MENUITEM "For 2 hours", DISABLE_2HR
            MENUITEM "For 3 hours", DISABLE_3HR
            MENUITEM "For 4 hours", DISABLE_4HR
            MENUITEM "Custom duration", DISABLE_CUSTOM
            MENUITEM "Until I turn it back on", DISABLE_INDEFINITE
        }

        MENUITEM "Refresh", PROGRAM_REFRESH
        MENUITEM "Run at startup", PROGRAM_REGISTER_STARTUP
        MENUITEM "Exit", PROGRAM_EXIT
    }
}

DISABLED_CONTEXT_MENU_ID MENU
{
    POPUP ""
    {
        MENUITEM "Enable AlwaysShadow", ENABLE_INDEFINITE
        MENUITEM "Refresh", PROGRAM_REFRESH
        MENUITEM "Run at startup", PROGRAM_REGISTER_STARTUP
        MENUITEM "Exit", PROGRAM_EXIT
    }
}

TIME_PICKER_ID DIALOGEX                         0,      0,      145,    115
STYLE WS_OVERLAPPED | WS_VISIBLE | WS_SYSMENU | WS_CAPTION | DS_SETFOREGROUND | DS_CENTER | WS_POPUP 
CAPTION "Choose duration"
{
    CTEXT   "Hours", 0,                         5,      5,      45,     10
    CTEXT   "Minutes", 0,                       50,     5,      45,     10
    CTEXT   "Seconds", 0,                       95,     5,      45,     10
    LISTBOX HOURS_LISTBOX_ID,                   5,      15,     45,     70,    WS_BORDER | WS_VSCROLL
    LISTBOX MINUTES_LISTBOX_ID,                 50,     15,     45,     70,    WS_BORDER | WS_VSCROLL
    LISTBOX SECONDS_LISTBOX_ID,                 95,     15,     45,     70,    WS_BORDER | WS_VSCROLL
    PUSHBUTTON "OK", APPLY_PICKER_BTN_ID,       34,     90,     35,     15
    PUSHBUTTON "Cancel", CANCEL_PICKER_BTN_ID,  76,     90,     35,     15
}